main.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img.details-pic {
  height: 600px;
  width: 800px;
}

.prev-link {
  font-size: 30px;
  text-decoration: none;
  color: #4d1635;
  background-blend-mode: color;
}