nav {
  display: flex;
  height: 60px;
  width: 100%;
  background-color: #9e9199;
  font-size: 20px;
  font-weight: bold;
  margin: 0 5px 0 5px;
  /* flex-direction: row; */
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

ul.navbar  {
  display: flex;
  margin: 10px;
  flex-direction: row;
  justify-content:  flex-end;
  width: 100%;
  height: 60px;
}

ul.navbar > li {
  margin: 0 10px;
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.links {
  text-decoration: none;
  color: #112432;
}

.links:hover {
  color: #5e7783;
}
  
#welcome {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
}

