ul.list  {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  /* width: 600px; */
  align-items: center;
  height: 400px
}

img.preview {
  height: 275px;
  width: auto;
}

ul.list > div {
  margin: 10px 10px;
  height: 400px;
  border: 1px solid gray;
  border-radius: 10px;
}
