main.projects {
  height: 1000px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width: auto;
  /* margin-top: 50px; */
}

h3 {
  color: #112432;
  margin-bottom: 2px;
}

h1 {
  color: #112432;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer.contact-list {
  display: flex;
  flex-direction: column;
  
}